body {
	background-color: #ccc;
    }
h1 {
	color: #FFFFFF; 
    font-size: 100px; 
    background-color: #b19cd9;
    text-align: center;
    font-family:'Bebas Neue', cursive;
    border: 20px dashed red;
    }
h2 {
	color: #FFFFFF;
    font-size: 70px;
    background-image: url(gradient_bg.png);
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    border: 5px dashed red;
    }
p1 {
	color: #FFFFFF;
    font-size: 30px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    background-color: #b19cd9;
    padding: 5px;
    }
p2 {
	color: #FFFFFF;
    font-size: 20px;
    text-align: left;
    font-family: 'Bebas Neue', cursive;
    background-color: #b19cd9
    }
p3 {
	color: #FFFFFF;
    font-size: 20px;
    text-align: left;
    font-family: 'Bebas Neue', cursive;
    background-color: #b19cd9
    }
p4 {
	color: #FFFFFF;
    font-size: 20px;
    text-align: left;
    font-family: 'Bebas Neue', cursive;
    background-color: #b19cd9
    }
p5 {
	color: #FFFFFF;
    font-size: 20px;
    text-align: left;
    font-family: 'Bebas Neue', cursive;
    background-color: #b19cd9
    }
p6 {
	color: #FFFFFF;
    font-size: 20px;
    text-align: left;
    font-family: 'Bebas Neue', cursive;
    background-color: #b19cd9
    }
p7 {
	color: #FFFFFF;
    font-size: 20px;
    text-align: left;
    font-family: 'Bebas Neue', cursive;
    background-color: #b19cd9
    }
p8 {
	color: #FFFFFF;
    font-size: 20px;
    text-align: left;
    font-family: 'Bebas Neue', cursive;
    background-color: #b19cd9
    }
p9 {
	color: #FFFFFF;
    font-size: 20px;
    text-align: left;
    font-family: 'Bebas Neue', cursive;
    background-color: #b19cd9
    }
p10 {
	color: #FFFFFF;
    font-size: 20px;
    text-align: left;
    font-family: 'Bebas Neue', cursive;
    background-color: #b19cd9
    }
p11 {
	color: #FFFFFF;
    font-size: 20px;
    text-align: left;
    font-family: 'Bebas Neue', cursive;
    background-color: #b19cd9
    }
p12 {
	color: #FFFFFF;
    font-size: 20px;
    text-align: left;
    font-family: 'Bebas Neue', cursive;
    background-color: #b19cd9
    }