* {font-family: Helvetica;}
.background-entire-page {background-color: #f3f3f3; width: 100%;}
.banner-container {background-color:#161925f1; margin-left:0em; margin-top: 0em; margin-right: 0em; margin-bottom: -.5em; width: 100%; height: auto; padding-top: 0.5em; padding-bottom: 0em; display: inline-block; color: #fff; text-align: center; font-size: 16px;}
.navbar-brand {text-decoration: none; font-size: 30px;}
.nav-item {font-size: 20px;}
.main-container {padding-top: 0px;}
.main-container-2 {padding-top: 75px;}
.lighthouse-on-the-square {padding: 200px 0px; margin: 0px; background-image: url(images/connecttop.jpg); background-size: cover; background-repeat: no-repeat; }
.lighthouse-on-the-square .jumbotron {width: 100%; padding: 50px; margin: 0px; background-color: #161925dc;}
.lighthouse-on-the-square .jumbotron h1 {color: #fff; font-size: 50px; font-family: Helvetica; font-weight: 500;}
.lighthouse-on-the-square .jumbotron p {color: #fff; font-size: 20px; }
.main-container-3 {padding-top: 30px;}
.sermons-container-fluid {background-color:#f3f3f3; padding-bottom: 120px;}
p.sermons-text {text-decoration: none; color: #161925f1; font-size: 50px; margin-left:19px; padding-top: 19px; padding-left: 0px; padding-right: 0px; padding-bottom: 0px;}
p.next-worship-service-text {margin-top: -110px; margin-right: 19px; text-align: right; color: 161925f1; font-size: 20px; font-weight: 500;}
p.worship-time-text {margin-top: -5px; margin-right: 19px; text-align: right; color: #161925f1; font-size: 16px; font-weight: 500;}
.main-container-4 {padding-top: 15px;}
.whosoever-church {padding: 200px 0px; margin: 0px; background-image: url(images/whosoeverchurch.jpg); background-size: cover; background-repeat: no-repeat; }
.whosoever-church .jumbotron {width: 100%; padding: 50px; margin: 0px; background-color: #161925dc;}
.whosoever-church .jumbotron h1 {color: #fff; font-size: 50px; font-family: Helvetica; font-weight: 500;}
.whosoever-church .jumbotron p {color: #fff; font-size: 20px; }
.main-container-5 {padding-top: 30px;}
.events-container-fluid {background-color:#f3f3f3; padding-bottom: 120px;}
p.join-us-text {text-decoration: none; color: #161925f1; font-size: 50px; margin-left:19px; padding-top: 19px; padding-left: 0px; padding-right: 0px; padding-bottom: 0px;}
p.events-text {margin-top: -110px; margin-right: 19px; text-align: right; color: 161925f1; font-size: 20px; font-weight: 500;}
p.days-text {margin-top: -5px; margin-right: 19px; text-align: right; color: #161925f1; font-size: 16px; font-weight: 500;}
.main-container-6 {padding-top: 0px;}
.main-container-7 {padding-top: 75px;}
.banner-container-2 {background-color:#161925f1; margin-left:0em; margin-top: 0em; margin-right: 0em; margin-bottom: 0.05em; width: 100%; height: auto; padding: 10px 0px; display: inline-block; color: #fff; text-align: center; font-size: 50px;}
.main-container-8 {padding-top: 75px;}
.footer-container {background-color:#161925f1; margin-left:0em; margin-top: 0em; margin-right: 0em; margin-bottom: -.5em; width: 100%; height: auto; padding-top: 1em; padding-bottom: 0em; display: inline-block; color: #fff; text-align: center; font-size: 16px;}